<header>
    <nav class="navbar navbar-inverse">
        <div class="navbar-header">
            <a href="/" class="navbar-brand">Progress-book</a>
        </div>
    </nav>
</header>
<main>
    <nav>
        <a routerLink="/day/monday" class="btn btn-default">Monday</a>
        <a routerLink="/day/tuesday" class="btn btn-primary">Tuesday</a>
        <a routerLink="/day/wednesday" class="btn btn-success">Wednesday</a>
        <a routerLink="/day/thursday" class="btn btn-info">Thursday</a>
        <a routerLink="/day/friday" class="btn btn-warning">Friday</a>
        <router-outlet></router-outlet>
    </nav>

</main>
<footer class="text-center">
    Designed by Maryna Yelakova
</footer>