<h2>{{day}}</h2>
<div class="row">
    <div class="col-sm-4">
        <ul class="list-group users-list">
            <li class="list-group-item"
                *ngFor="let subject of subjects"
                (click)="onSelect(subject)"
                [class.active]="subject === selectedSubject">
                {{ subject.name }}
            </li>
        </ul>
    </div>
</div>
<div *ngIf="selectedSubject">
    <div class="col-sm-12">
        <h1>{{title}}  {{selectedSubject.name}}  Issues</h1>
        <ul class="list-group users-list">
            <li class="list-group-item">{{ selectedSubject.hometask }}</li>
        </ul>
    </div>
</div>